.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: .35s;
    padding: 20px 0;
}

.navbar-scroll{
    background:rgba(3,7,18,.82);
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.06);
}

.navbar-container{

    width:min(1300px,92%);
    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:34px;

    font-weight:800;

    color:#22C55E;

    letter-spacing:2px;

}

.nav{

    display:flex;

    gap:34px;

}

.nav a{

    color:#CBD5E1;

    transition:.3s;

    font-weight:500;

    position:relative;

}

.nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-7px;

    width:0;

    height:2px;

    background:#22C55E;

    transition:.35s;

}

.nav a:hover::after,

.nav a.active::after{

    width:100%;

}

.nav a:hover{

    color:white;

}

.nav-buttons{

    display:flex;

    gap:14px;

}

.resume-btn{

    background:#22C55E;

    color:white;

    padding:12px 24px;

    border-radius:10px;

    transition:.3s;

    font-weight:600;

}

.resume-btn:hover{

    transform:translateY(-2px);

}

.linkedin-btn{

    border:1px solid rgba(255,255,255,.15);

    padding:12px 22px;

    border-radius:10px;

    color:white;

}

.linkedin-btn:hover{

    background:rgba(255,255,255,.08);

}

.hamburger{

    display:none;

    flex-direction:column;

    cursor:pointer;

    gap:5px;

}

.hamburger span{

    width:28px;

    height:3px;

    background:white;

    transition:.35s;

}

@media(max-width:950px){

.nav{

position:fixed;

right:-100%;

top:85px;

width:280px;

background:#111827;

padding:40px;

display:flex;

flex-direction:column;

transition:.4s;

border-radius:20px;

}

.nav.active{

right:20px;

}

.nav-buttons{

display:none;

}

.hamburger{

display:flex;

}

}
